@page "/deployment-grid"
@attribute [StreamRendering]
@using Microsoft.AspNetCore.Components.QuickGrid
@using global::blazorpus.BlazorPus
@inject DeploymentMatrixService _deploymentMatrix

<PageTitle>Deployment Grid</PageTitle>

<QuickGrid Items="@_deploymentViewModels">
    <TemplateColumn Title="Release">
        <div title="@context.Release.DeploymentCreateDate.ToString("g")">@context.Release.ReleaseName.Substring(0, 7)</div>
    </TemplateColumn>
    <TemplateColumn Title="Dev">
        <StatusOrDeploy 
            Environment="Dev" 
            Status="@context.DevStatus.Status"
            GitSha="@context.Release.ReleaseName"
            ReleaseName="@context.Release.ReleaseName" 
            DeployedAt="@context.DevStatus.DeployedAt" />
    </TemplateColumn>
    <TemplateColumn Title="DevTest">
        <StatusOrDeploy Environment="DevTest"
                          Status="@context.DevTestStatus.Status"
                          GitSha="@context.Release.ReleaseName"
                          ReleaseName="@context.Release.ReleaseName"
                          DeployedAt="@context.DevTestStatus.DeployedAt" />
    </TemplateColumn>
    <TemplateColumn Title="SI">
        <StatusOrDeploy Environment="SI"
                          Status="@context.SiStatus.Status"
                          GitSha="@context.Release.ReleaseName"
                          ReleaseName="@context.Release.ReleaseName"
                          DeployedAt="@context.SiStatus.DeployedAt" />
    </TemplateColumn>
    <TemplateColumn Title="Prod">
        <StatusOrDeploy Environment="Prod"
                          Status="@context.ProdStatus.Status"
                          GitSha="@context.Release.ReleaseName"
                          ReleaseName="@context.Release.ReleaseName"
                          DeployedAt="@context.ProdStatus.DeployedAt" />
    </TemplateColumn>
</QuickGrid>

@code {

    private IQueryable<DeploymentViewModel> _deploymentViewModels = Array.Empty<DeploymentViewModel>().AsQueryable();

    protected override async Task OnInitializedAsync() 
    {
        await Load();
    }

    private async Task Load()
    {
        var matrix = await _deploymentMatrix.Get();
        _deploymentViewModels = matrix
            .Select(row => new DeploymentViewModel
                {
                    Release = row[0],
                    DevStatus = row[0].Status,
                    DevTestStatus = row[1].Status,
                    SiStatus = row[2].Status,
                    ProdStatus = row[3].Status
                })
                .ToList()
                .AsQueryable();
    }
}
